<div class="container-sm mt-5">
  <nav class="navbar-sm navbar-light">
    <app-modulos-header></app-modulos-header>
  </nav>
  <br />
  <div class="col-12-sm">
    
    <div *ngFor = "let modulo of listaModulos">
      <app-modulo [modulo] = "modulo"></app-modulo>
    </div>

  </div>

  <app-crear-modulo (clickGuardar) = "guardarModulo($event)"></app-crear-modulo><br />

  
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-outline-light" type="button" (click)= "terminarCurso()">Terminar</button>
    </div>
  </div>
  <br /><br />
  </div>
<br /><br />
