<div class="container-sm mt-5">
  <nav class="navbar-sm navbar-light">
    <app-modulos-veheader></app-modulos-veheader>
  </nav>
  <br />

  <div class="col-12-sm">
    <div class="row">
      <br />
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div *ngFor="let modulo of listaModulos">
            <app-modulo-card [modulo]="modulo"></app-modulo-card>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</div> 
