<div class="toolbar">
  <button type="button" mat-button (click)="drawer.toggle()">
     <mat-icon>menu</mat-icon>
  </button> 
  <h2>Estudiante</h2>
</div>
<mat-drawer-container class="container-courses" autosize>
  <mat-drawer #drawer class="barra-lateral" mode="side">
   <img src="../../../assets/images/logo.jpeg"/>
  <mat-action-list>
    <button class="opt" mat-list-item (click)="goHome()"> Inicio </button>
  </mat-action-list>
  <mat-action-list>
    <button class="opt" mat-list-item (click)="miscursos()"> Mis cursos </button>
  </mat-action-list>
  <button  mat-flat-button (click)="logOut()" class="logout">
   Cerrar sesion
  </button>
  
</mat-drawer>
  
      <mat-grid-list cols="4" rowHeight="250px" style="display: flex; ">
        <mat-grid-tile  [colspan]=1 [rowspan]= 1>
          <mat-card class="NameMod">
            <div style="height: 50%;  margin: 12px 12px 12px 12px; font-size:auto; " >
              {{randomF()}} 
            </div> 
            <div>
              <button mat-icon-button class="video-icon" (click)="randomF()" style="background-color: #559A95; " aria-label="Example icon-button with heart icon">
              <mat-icon> sentiment_satisfied_alt</mat-icon>
              </button>
            </div>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=1>
          <mat-card class="NameMod">
            <div>
              <button class="tarea" mat-flat-button (click)="volver()" style="font-size: 20px; color: #ffffff;"> Modulos</button>
            <button class="tarea" mat-flat-button (click)="goTask()" style="font-size: 20px; color: #ffffff;"> Tareas</button>
            </div>
            <div style="height: 50%; overflow: auto;">
              <mat-list  *ngFor="let material of materiales">
                <div *ngIf="esTarea(material.resourceType)">
                <mat-list-item>{{material.title}} </mat-list-item>
                <mat-divider></mat-divider>
                </div>
              </mat-list>
            </div>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=1>
          <div class="d">
            <mat-card class="demo-inline-calendar-card">
              <mat-calendar (selectedChange)="selected = $event"></mat-calendar>
            </mat-card>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <div style="width: 100%; background-color: #97ABAE;">
        <div class="resource" *ngIf="materiales.length!=0; else nomat">
          <mat-accordion style="width: 90%;  margin: 12px 12px 12px 12px;">
            <mat-expansion-panel style="text-align: center;" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false"*ngFor="let material of materiales" >
              
                <mat-expansion-panel-header style="height: 80px;">
                  <mat-panel-title style="font-size: large; color: #559A95;">
                   <strong>{{material.title}} </strong>
                  </mat-panel-title>
                  <mat-panel-description >
                    <div><span style="color: #559A95;">{{material.resourceType}}</span>
                       {{panelOpenState ? 'abierta' : 'oculta'}}
                    </div>
                  </mat-panel-description>
                  
                </mat-expansion-panel-header>
                <div class="material" >{{material.descriptionResource}}</div>
                <div class="material" >{{material.content}}</div>
                </mat-expansion-panel>
          </mat-accordion>
        </div>
        <ng-template #nomat >Este modulo aun no tiene material</ng-template>
        </div>
</mat-drawer-container>

<!--
          
           <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>First campaign</mat-label>
                <mat-date-range-input
                  [formGroup]="campaignOne"
                  [rangePicker]="campaignOnePicker"
                  [comparisonStart]="campaignTwo.value.start"
                  [comparisonEnd]="campaignTwo.value.end">
                  <input matStartDate placeholder="Start date" formControlName="start">
                  <input matEndDate placeholder="End date" formControlName="end">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
              </mat-form-field>
              
            <div style="height: 80%;  margin: 12px 12px 12px 12px; font-size: x-large; " >
              {{randomF()}} 
            </div> 
        -->