.join{
    background-color:#54938e;
}
thead{
    align-content: center;
}
.input1{
    background-color: #535353;
    height: 70px;
    width: 100%;
    opacity: 0.7;
}

.form-control{
    width: 100%;
}

.encabezado{
  background-image: url(../../../assets/images/Classroom3.jpg);
  height: 300px;
  padding: 10%;
  }
  
  h1{
    color: rgb(0, 0, 0);
    font-size: 70px;
    text-align: center;
  }
  h2{
      text-align: center;
  }
.courses{
    margin: 12px 12px 12px 12px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 350px;
    justify-content: center;
}
li{
    list-style: none;
    text-align: center;
}
.card{
  height: 150px;
  width: 80%;
  margin-top: 30px;
  margin-left: 10%;
}
.names{
  font-size: 20px;
}