<div class="card">
  <div class="card-header h6">
    <img
      src="../../../assets/lo.png"
      width="30"
      height="24"
      class="d-inline-block align-text-top"
    />
    Mijael
    <!--{{ tareaPorCalificar.userDone.completeName }}-->
  </div>
  <div class="card-body">
    <h4 class="card-title text-start fw-bold">
      {{tareaHecha.resource.title}}
      <!--{{ tareaPorCalificar.resource.title }}-->
    </h4>
    <div class="row">
      <div class="col-sm-9 overflow-auto" style="height: 150px">
        {{tareaHecha.resource.descriptionResource}}
        <!--{{ tareaPorCalificar.content }}-->
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 12rem">
          <div class="card-body">
            <h5 class="card-title fw-bold">Nota</h5>
            <div class="input-group input-group-sm mb-3">
              <input
                type="number"
                class="form-control text-end"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
                value="{{tareaHecha.score}}"
              />
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >/{{tareaHecha.resource.score}}
                <!--{{tareaPorCalificar.resource.score}}--></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
