.toolbar {
    height: 30px;
    background-color: #97ABAE
  }
  
  .container-courses {
    height: 600px;
    background-color: #F7F7F7;
    .textUp{
      margin: 50px 12px 12px 50px;
      align-items: center;
      justify-content: center;
    }
  }
  .toolbar {
    display: flex;
    height: 30px;
    align-content: center;
    justify-content: left;
    background-color: #559A95;
    .button{
      height: 30px;
    }
  }
  
  .lateral {
    background-color: #97aaae;
    padding: 10px;
    width: 200px;
    img{
      width: 175px;
      height: 175px;
      border: 0px;
    }
    .logout{
      background-color: #559A95;
      width: 175px;
      height: 50px;
    }
  }

  table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
