<div class="toolbar">
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h2>Docente</h2>
</div>



<mat-drawer-container class="container-courses" autosize>
  <mat-drawer #drawer class="lateral" mode="side">
    <img src="../../../assets/images/Classroom.jpg" />
    <mat-action-list>
      <button class="opt" mat-list-item (click)="goCourses()"> Mis cursos </button>
    </mat-action-list>
    <mat-action-list>
      <button class="opt" mat-list-item (click)="goAddCourse()"> Añadir curso </button>
    </mat-action-list>
    <button mat-flat-button (click)="logout()" class="logout">
      Cerrar sesion
    </button>
  </mat-drawer>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay ; index as i">
      <th style="background-color: #559A95; color: #ffffff; font-size: 20px; font-style: bold;" mat-header-cell
        *matHeaderCellDef> {{columnsTo[i]}} </th>
      <td mat-cell style="background-color: #f7f7f7;" *matCellDef="let student">{{student[column]}}</td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail" class="container">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="frame">
            <div class="example-element-position"> Datos: </div>
            <div class="example-element-symbol"> {{element.completeName}} </div>
            <div class="example-element-name"> {{element.roles}} </div>
            <div class="example-element-weight"> {{element.username}} </div>
          </div>
          <div>
            <button style="height: 80%; background-color:#f7f7f7;width: 50px;  display: flex;
          justify-content: center; align-content: center;
      text-align: center; margin: 12px 12px 12px 12px;" mat-flat-button (click)="cantidad(element.idUser)">Mostrar <br>
              mas</button></div>
          <div style="padding: 20px; width: 40%;" *ngIf="mostrar">
            <div style="display:inline-block; width: 50%;">
              <h1>Tareas Hechas</h1>
              <div *ngIf="tareasHechas.length!=0; else sinT">
                <div style="padding: 20px; width: 100%; color: black;" *ngFor="let tarea of tareasHechas">
                  <li style="list-style: none;"> {{tarea.resource.title}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;
                    &nbsp; &nbsp; &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tarea.score}}/{{tarea.resource.score}}</li>
                  <mat-divider></mat-divider>
                </div>
              </div>
              <ng-template #sinT>No hay tareas hechas</ng-template>

              <div>
                <mat-divider></mat-divider>
                <h1>Estadisticas</h1>
                <strong>Tareas totales: &nbsp; &nbsp; </strong>
                <span class="big">{{tareas.tareasTotales.length}}</span> <br>
                <strong>Tareas faltantes:&nbsp; &nbsp;</strong> <span class="big">{{tareas.tareasFaltantes.length}}
                </span> <br>
                <strong>Tareas entregadas: &nbsp; &nbsp;</strong> <span
                  class="big">{{tareas.tareasHechasDelCurso.length}}</span> <br>
                <strong> Nota acumulada: &nbsp; &nbsp;</strong> <span class="big">{{tareas.notaAcumulada}}</span><br>
                <strong> Nota general: &nbsp; &nbsp;</strong> <span class="big">{{tareas.notaGeneral}}</span><br>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element" (click)="studentU(element.idUser)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>


</mat-drawer-container>




<!--
*matCellDef="let element"

   -->
