<div class="container-sm p-0">
  <nav class="navbar-sm navbar-light">
    <app-header-tareas></app-header-tareas>
  </nav>
  <div class="row">
    <div class="col-12-sm">
      <img
        src="../../../assets/h.jpg"
        width="1320"
        class="img-fluid"
        alt="log img"
      />
    </div>
  </div>
</div>

<div class="row">
  <br />
  <div class="col-1"></div>
  <div class="col-10">
    <div
      *ngFor="let tareaPorCalificar of tareasPorCalificar"
      class="container-sm p-0 my-5"
    >
      <app-cuerpo-tarea
        [tareaPorCalificar]="tareaPorCalificar"
      ></app-cuerpo-tarea>


    </div>
  </div>
</div>
