<div class="fondo">
    <form action="">
     <input type="text" [(ngModel)]="student.fullName">
      <input type="text" [(ngModel)]="student.userName">
      <input #pass type="password" [(ngModel)]="student.password">
      <input #confirm type="password">
      <input #student type="submit" (click)="submitTeacher()">
      <input #teacher type="submit" (click)="submitStudent()">
      <p #mensaje>Your password not is the same</p>
    </form>
  </div>
  <form>
    <mat-form-field appearance="legacy">
        <p>
          <mat-label>Legacy form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </p>
     
        <p>
          <mat-label>Legacy form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </p>
        <p>
          <mat-label>Legacy form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </p>
     
  
      <mat-action-list>
          <button  mat-flat-button (click)="submitTeacher()" class="submitTeacher">
              Teacher register
          </button>
          <button  mat-flat-button (click)="submitStudent()" class="submitStudent">
              Student register
          </button>
        </mat-action-list>
    </mat-form-field>
  </form>
  