<div class="superior">
  <span>Videollamada</span>
</div>

<div class="link">
  <h2>Link de la videollamada:</h2>
  <input type="url" name="" id="">
</div>

<div class="fecha">
  <div class="fecha-arriba">
    <h2>Fecha:</h2>
    <input type="date" name="" id="">
  </div>
  <div class="fecha-abajo">
    <h2>Hora:</h2>
    <input type="time" name="" id="">
  </div>
</div>

<div class="descripcion">
  <h2>Descripcion:</h2>
  <textarea name="" id="" maxlength="1000"></textarea>
</div>

<div class="guardar">
  <a>Guardar</a>
</div>
