<div class="container-sm p-0">
    <nav class="navbar-sm navbar-light">
      <app-header></app-header>
    </nav>
    <div class="row">
      <div class="col-12-sm">
        <img
          src="../../../assets/h.jpg"
          width="1320"
          class="img-fluid"
          alt="log img"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <br />
    <div class="col-1"></div>
    <div class="col-10">
      <div

        class="container-sm p-0 my-5"
      >
        <app-tareas

        ></app-tareas>


      </div>
    </div>
  </div>

  <!--<div
        *ngFor="let tareaPorCalificar of tareasPorCalificar"
        class="container-sm p-0 my-5"
      >
        <aapp-tareas
          [tareaPorCalificar]="tareaPorCalificar"
        ></app-tareas>
  -->

