<div class="card">
  <div class="card-header h6">
    <img
      src="../../../assets/icono.png"
      width="30"
      height="24"
      class="d-inline-block align-text-top"
    />
    {{ tareaPorCalificar.userDone.completeName }}
  </div>
  <div class="card-body">
    <h4 class="card-title text-start fw-bold">
      {{ tareaPorCalificar.resource.title }}
    </h4>
    <div class="row">
      <div class="col-sm-9 overflow-auto" style="height: 150px">
        {{ tareaPorCalificar.content }}
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title fw-bold">Calificacion</h5>
            <div class="input-group input-group-sm mb-3">
              <input
                type="number"
                class="form-control text-end"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
                [(ngModel)]="scoreOfTask"
              />
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >/ 100</span
              >
            </div>
            <button
              class="btn btn-outline-light"
              (click)="clickCalificarTarea()"
            >
              Calificar
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
