
<div class="card">
  <div class="card-header h6">
    <img
      src="../../../assets/icono.png"
      width="30"
      height="24"
      class="d-inline-block align-text-top"
    />
      Pepito Dias
  </div>
  <div class="card-body">
    <h4 class="card-title text-start">Inteligencia Artificial</h4>
    <div class="row">
      <div class="col-sm-9 overflow-auto" style="height: 150px">
        With supporting text below as a natural lead-in to additional content
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta facilis,
        nemo et ducimus repudiandae velit? Reiciendis ab commodi neque nemo
        voluptatum, ducimus ut, maxime nihil, natus dignissimos ipsam dolores
        magni Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
        ad odio nisi quasi necessitatibus sed. Veniam, id porro atque, mollitia
        pariatur cupiditate quas reprehenderit, iure quisquam ipsa consectetur.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
        rerum maiores dolore nemo, cupiditate excepturi minima ex amet
        reiciendis aperiam aspernatur recusandae beatae id consequatur eligendi
        quisquam officiis pariatur inventore.
        With supporting text below as a natural lead-in to additional content
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta facilis,
        nemo et ducimus repudiandae velit? Reiciendis ab commodi neque nemo
        voluptatum, ducimus ut, maxime nihil, natus dignissimos ipsam dolores
        magni Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
        ad odio nisi quasi necessitatibus sed. Veniam, id porro atque, mollitia
        pariatur cupiditate quas reprehenderit, iure quisquam ipsa consectetur.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
        rerum maiores dolore nemo, cupiditate excepturi minima ex amet
        reiciendis aperiam aspernatur recusandae beatae id consequatur eligendi
        quisquam officiis pariatur inventore.
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title fw-bold">Calificacion</h5>
            <div class="input-group input-group-sm mb-3">
              <input
                type="number"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >/ 100</span
              >
            </div>
            <a href="#" class="btn btn-outline-light">Calificar</a>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
