<div class="toolbar">
  <button type="button" mat-button (click)="drawer.toggle()">
     <mat-icon>menu</mat-icon>
  </button>
  <h2>Teacher</h2>
  <span class="espacio"></span>
  <button mat-icon-button class="analitics-icon" aria-label="Example icon-button with analitics icon">
    <mat-icon>assessment</mat-icon>
  </button>
  <button mat-icon-button class="delete-icon" aria-label="Example icon-button with delete icon">
    <mat-icon>delete_outline</mat-icon>
  </button>
 </div>


<mat-drawer-container class="container-courses" autosize>
    <mat-drawer #drawer class="lateral" mode="side">
     <img src="../../../assets/images/Classroom.jpg"/>
    <mat-action-list>
      <button class="opt" mat-list-item (click)="goAddCourse()"> Add courses </button>
    </mat-action-list>
    <button  mat-flat-button (click)="logout()" class="logout">
      Log out
    </button>
</mat-drawer>
  <div class= "textUp">
    <h1>Courses</h1>
    <span>New courses can be created in any order</span>
  </div>
<section class="courses"  *ngIf="courses.length!=0; else sinCursos">
    <mat-card class="card"*ngFor="let course of courses">

      <div class="rippleCourse"
     matRipple>
     <span class="cssCourse"><strong>
      {{course.courseName}}
     </strong>
     </span>
     </div>
     {{course.descriptionCourse}}
    </mat-card>
</section>
<ng-template #sinCursos><h3>You do not have courses created yet.</h3></ng-template>
</mat-drawer-container>
