.espacio {
  flex: 1 1 auto;
}
.toolbar {
  height: 30px;
  background-color: #97ABAE
}

.container-courses {
  height: 600px;
  background-color: #F7F7F7;
  .textUp{
    margin: 50px 12px 12px 50px;
    align-items: center;
    justify-content: center;
  }
}

.toolbar {
  display: flex;
  height: 30px;
  align-content: center;
  justify-content: left;
  background-color: #559A95;
  .button{
    height: 30px;
  }
}

.lateral {
  background-color: #97aaae;
  padding: 10px;
  width: 200px;
  img{
    width: 175px;
    height: 175px;
    border: 0px;
  }
  .logout{
    background-color: #559A95;
    width: 175px;
    height: 50px;
  }
}
.rippleCourse {
  
  cursor: pointer;
  text-align: center;
  height: 100px;
  line-height: 100px;
  background-color: #559A95;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
section.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;    
  margin: 50px 12px 12px 50px;
  background-color: #ffffff;    
  border: 2px solid rgba(0, 0, 0, 0.5);
  .card{
  width: 300px;
  height: 200px;
  background-color: #F7F7F7;
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 20px;
  .cssCourse{
    font-size: x-large;
    font-style: italic;
  }
  }
}
h3{
text-align: center;
}