<div class="toolbar">
  <button type="button" mat-button (click)="drawer.toggle()">
     <mat-icon>menu</mat-icon>
  </button>
  <h2>Docente</h2>
 </div>



 <mat-drawer-container class="container-courses" autosize>
    <mat-drawer #drawer class="lateral" mode="side">
     <img src="../../../assets/images/Classroom.jpg"/>
    <mat-action-list>
      <button class="opt" mat-list-item (click)="goAddCourse()"> Añadir curso </button>
    </mat-action-list>
    <button  mat-flat-button (click)="logout()" class="logout">
      Cerrar sesion
    </button>
 </mat-drawer>
  <div class= "textUp">
    <h1>Cursos</h1>
    <span></span>
  </div>
 <section class="courses"  *ngIf="courses.length!=0; else sinCursos">
    <mat-card class="card"*ngFor="let course of courses">
      <div class="rippleCourse" matRipple (click)="goModule()" >
     <span class="cssCourse"><strong>
      {{course.courseName}}
     </strong>
     </span>
     </div>
      <span><strong> Acerca del curso: </strong>{{shortDescription(course)}}...</span>
      <div>
         <button mat-flat-button style="background-color: #559A95; margin: 2px 5px 10px 5px;" (click)="progreso()" class="logout">
        Estudiantes
        </button>
        <button mat-flat-button style="background-color: #97aaae; margin: 2px 5px 10px 5px;" (click)="calificar()" class="logout">
         Calificar tareas
        </button>
        </div>
    </mat-card>
</section>
<ng-template #sinCursos><h3>Tu no tienes cursos creados aun</h3></ng-template>
</mat-drawer-container>
