<div class="seccion-descripcion">

  <div class="regresar">
    <a> < Regresar</a>
  </div>

  <div class="titulo">
    <h2>{{tarea.titulo}}</h2>
  </div>

  <div class="descripcion">
    <p>{{tarea.descripcion}}</p>
  </div>

  <div class="guardar">
    <div class="guardar-iz">
      <a>Enviar</a>
    </div>

    <div class="guardar-der">
      <span>Valor tarea: {{tarea.nota}} puntos</span>
    </div>
  </div>

</div>
<div class="seccion-respuesta">

  <div class="titulo-respuesta">
    <h2>Ingresa tu respuesta en este campo:</h2>
  </div>

  <div class="respuesta">
    <textarea></textarea>
  </div>

</div>
