<div class="fondo">
  <div class="formulario">

    <form class="form">
      <h2>Registro</h2>
      <input type="text" class="campos" placeholder="Nombre completo">
      <input type="text" class="campos" placeholder="Nombre de usuario">
      <input type="password" class="campos" placeholder="Contraseña">
      <input type="password" class="campos" placeholder="Repetir contraseña">
      <input type="submit" class="estudiante" value="Estudiante">
      <input type="submit" class="docente" value="Docente">
    </form>
  </div>
</div>
